extends inc/layout

block content
  .gnl-content
    h1: img(src="img/pages/contact.png", alt="Contact", width="134px", height="46px")
    iframe(src="https://spreadsheets.google.com/embeddedform?key=0Av78qIueUqY9dHhxQTdFbm9iZVNGcDViSVVDOFQ5WVE", width="760", height="822", frameborder="0", marginheight="0", marginwidth="0") Loading...
  hr.gnl-hr
  .gnl-footer
    h1
      a(href="http://givenewlife.tumblr.com")
        img(src="img/layout/the-blog.png", alt="The Blog", width="103px", height="49px")
