extends inc/layout

block content
  #gnl-rotator.gnl-rotator
  hr.gnl-hr
  .gnl-main
    .gnl-main-box
      p
        strong We exist to keep families alive, healthy and together.
      p.
        Stay up to date
        by <a href="http://www.twitter.com/givenewlife">following us on Twitter</a>
        or by <a href="http://givenewlife.tumblr.com/">subscribing to our blog</a>.
        If you are interesting in helping out or want more information please <a href='contact.html'>contact us</a>.
    .gnl-main-box
      h1
        a(href="http://givenewlife.tumblr.com")
          img(src="img/layout/the-blog.png", alt="The Blog", width="103px", height="49px")
      p
        span#gnl-tumblr-feed Follow blog updates...
        a(href="http://givenewlife.tumblr.com/"): em (read more)
